Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
a = 'Nishil'

In [2]:
b = [1,2.34,'Nishil',True]
type(b)

list

In [3]:
c = 2.45
d = ('radhika','nylon','tyson')
type(d)

tuple

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.
What will be the data type of the above given variable.

In [9]:
var1 = ' '

In [ ]:
var2 = '[ DS , ML , Python]'

In [ ]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [7]:
var4 = 1.

In [8]:
type(var4)

float

type(var1)

type(var3)

var1 is a string
var2,3 are not in a proper syntax
var4 is a float

Q3. Explain the use of the following operators using an example:

(i)	/       Division  22 / 8 = 2.75

(ii) %     Modulus    22 % 8 = 6

(iii) //   Integer division/Floored quotient  22 // 8 = 2

(iv) **    Power 2**3 = 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [31]:
l = [1,2,3,4,5,6,7,7.23,8.90,10.0]
for i in l : 
    print(type(i))
    if i == 11 :
        continue
    print(i)
else :
    print("this will be executed once for loop will comoplete itself succefully")

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'float'>
7.23
<class 'float'>
8.9
<class 'float'>
10.0
this will be executed once for loop will comoplete itself succefully

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [37]:
a = int(input('Enter a number A: '))
b = int(input('Enter a number B: '))
count = 0
while a%b==0:
     a=a/b
     count += 1
if count > 0:
    print(f"A is divisible by B and can be divided {count} times")
else:
    print("A is not divisible by B")

Enter a number A:  5
Enter a number B:  6255

A is not divisible by B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [51]:
my_list = [2, 6, 7, 9, 10, 12, 14, 15, 18, 19, 20, 21, 22, 24, 25, 27, 30, 33, 35, 36, 40, 42, 45, 48, 50]
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

2 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
12 is divisible by 3
14 is not divisible by 3
15 is divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
33 is divisible by 3
35 is not divisible by 3
36 is divisible by 3
40 is not divisible by 3
42 is divisible by 3
45 is divisible by 3
48 is divisible by 3
50 is not divisible by 3

 What do you understand about mutable and immutable data types? Give examples for both showing 
this property

List and string are different in an important way, a list value is a mutable data type. It can have values added, remove or changed. However, a string is immutable. It cannot be changed. Trying to reassign a single character in a string result in a. TypeError.

In [54]:
name = 'nishil'
name = 'yt'
print(name)

yt